@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&display=swap");

.aboutPehelText{
  font-family: 'Big Shoulders Display', cursive;
  font-size:25px;
  word-spacing:6px;
  color:black;}
.eventText{
  font-family: 'Noto Sans JP', sans-serif;
  /* font-weight: lighter; */
}
.ourteamText{
  font-family: 'Bebas Neue', cursive;
  color:#f76a6f;
  font-weight: 900;
  word-spacing: 5px;
  font-size: 80px;
  text-shadow: 2px 2px white;
  padding-left: 10px;
}
.ourleaderText{
  font-family: 'Noto Sans JP', sans-serif;
  color:black;
  font-weight: 500;
  word-spacing: 5px;
  font-size: 50px;
  /* text-shadow: 1px 1px white; */
  /* padding-left: 10px; */
  text-align: center;
  right:10px;
  /* margin-right: 30px; */
}
.aboutUsText{
  font-family: 'Bebas Neue', cursive;
  color:#f76a6f;
  font-weight: 900;
  word-spacing: 5px;
  font-size: 90px;
  text-shadow: 2px 2px white;
  text-align: center;
}
.teamHeaderText{
  font-family: 'Bebas Neue', cursive;
  color:#f76a6f;
  font-weight: 900;
  word-spacing: 5px;
  font-size: 40px;
  text-shadow: 1px 1px white;
  padding-left: 10px;
}
.card-title{
  /* font-weight: bolder;   */
  font-family: 'Noto Sans JP', sans-serif, cursive;
  font-weight: bold;
}
.pehelnav{
  font-family: 'Bebas Neue', cursive;
}
.box{
  margin: 30px;
  /* width:60%; */
  background-color:white;
  border-radius: 15px;
  /* border:1px solid; */
  /* box-shadow: 2px 3px #890f48; */
}
.nav1{
  padding-top: 10px;
}.nav2{
  padding-right: 8px;
  padding-top: 9px;
}
/* dropdown */
.drop1 {
  color: black;
}

.dropdown1 {
  display: inline-block;
}

.dropdown1-content {
  display: none;
  position: absolute;
  background-color: #890f48;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown1-content a {
  color: black;
  position: relative;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  z-index: 1;
}

.dropdown1-content a:hover {background-color: #f8cacc;color:black}
.dropdown1-content a{color:white}


.dropdown1:hover .dropdown1-content {display: block;}
body{
  width: 100%;
  /* background-color: #f8cacc; */
}
.oursponsors{
  width:55%;
  padding-bottom: 40px;
}
.eventscard{
  margin-bottom: 40px;
}.card{
  border-radius: 10px;
  overflow:hidden
}
#stacked-linear {
  /* height: 700px; */
  /* background:
      linear-gradient(217deg, rgba(246,202,248,0.8), rgba(0,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(202,248,223,0.8), rgba(0,0,0,0) 70.71%),
      linear-gradient(336deg, rgba(248,202,204,0.8), rgba(0,0,0,0) 70.71%); */
      background-color:black
      /* background-color: #f8cacc; */
}
.teamCard{
  /* margin: 20px; */
  background-color:#fadcdd;
  border-radius:15px;
  margin-bottom: 15px;
   /* border:1px solid; */
  box-shadow: 2px 2px #f79498;
}
.round-img{
  /* overflow:hidden; */
  width:100%;
  border-radius:100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.teamCardText{
  color:#f76a6f;
  margin-left: 10px;
  margin-right: 15px;
  position: relative;
  top: 30%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.teamMemberName{
/* text-align: center; */
top: 30%;
-ms-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
margin-left: 10px;
color:#f74f55;
margin-right: 15;
position: relative;
}

/* about us */
.riyaImg{
  /* height:400px; */
  /* width:280px; */
  width: 100%;
}
.riyaText{
  /* top: 50%; */
  /* -ms-transform: translateY(-50%); */
  /* -webkit-transform: translateY(-50%); */
  /* transform: translateY(50%); */
  /* padding: 40% 20% 10% 50px; */
  margin-left: 10px;
  margin-right: 15px;
  position: relative;
  top: 35%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2rem; 
  transform: translateX(25%);

}
.riyaDescription{
  margin-left: 10px;
  margin-right: 15px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1rem;
}
.aboutUsGrid{
  position: relative;
  top: 50%;
  margin-bottom: 20px;
  /* vertical-align: middle; */
  /* background-color:white; */
}