.nav1{
  padding-top: 10px;
}.nav2{
  padding-right: 8px;
  padding-top: 9px;
}
/* dropdown */
.drop1 {
  color: black;
}

.dropdown1 {
  display: inline-block;
}

.dropdown1-content {
  display: none;
  position: absolute;
  background-color: #890f48;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown1-content a {
  color: black;
  position: relative;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  z-index: 1;
}

.dropdown1-content a:hover {background-color: #f8cacc;}

.dropdown1:hover .dropdown1-content {display: block;}
body{
  width: 100%;
}
/* gallery images */
.gallery-images{
  padding-bottom: 15px;
  padding-top: 50px;
}
.oursponsors{
  width:55%;
  padding-bottom: 40px;
}
.eventscard{
  margin-bottom: 40px;
}.card{
  border-radius: 20px;
  overflow:hidden
}
#stacked-linear {
  height: 700px;
  /* background:
      linear-gradient(217deg, rgba(246,202,248,0.8), rgba(0,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(202,248,223,0.8), rgba(0,0,0,0) 70.71%),
      linear-gradient(336deg, rgba(248,202,204,0.8), rgba(0,0,0,0) 70.71%); */
      background-color:black
}